<div class="container">
  <div class="back-button" (click)="onBack()">
    <fa name="arrow-left" class="icon"></fa>
    <p>Back</p>
  </div>
  <div *ngIf="launchLoading" class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  <spx-launch-detail
    *ngIf="launchDetails"
    [launch]="launchDetails"
  ></spx-launch-detail>
  <spx-image-gallery
    *ngIf="launchDetails && launchDetails.images"
    [imageUrls]="launchDetails.images"
  ></spx-image-gallery>
  <spx-video-player
    *ngIf="launchDetails && launchDetails.videoId"
    [videoId]="launchDetails.videoId"
  ></spx-video-player>
</div>
