<div class="list-container align-center">
  <h1>Previous Launches</h1>
  <div class="list-wrapper">
      <spx-launches-list-item
        *ngFor="let launch of launchesList"
        [launch]="launch"
        (launchSelected)="onLaunchSelected($event)"
      ></spx-launches-list-item>
  </div>
  <spx-loading-spinner [loading]="launchesLoading"></spx-loading-spinner>
  <div class="load-more-btn-container">
    <button
      type="button"
      class="load-more-btn btn btn-secondary btn-md"
      (click)="getMoreLaunches()"
      [disabled]="loadMoreDisabled"
    >
      Get More Launches!
    </button>
  </div>
</div>
