<div (click)="onLaunchSelected()" class="launch-item-row grey-card">
  <div class="launch-item-header">
    <p>
      <fa name="arrow-right" class="icon icon-right"></fa>
      <fa name="calendar" class="icon"></fa>
      {{ launch.launchDate | date: 'longDate' }}
    </p>
  </div>
  <div class="launch-item-body">
    <h2>
      Rocket Name: {{ launch.rocketName }}
    </h2>
    <p>
      Flight Number: {{ launch.flightNumber }}
    </p>
    <p>
      Launch Success:
      <spx-launch-success-indicator [success]="launch.launchStatus"></spx-launch-success-indicator>
    </p>
  </div>
</div>
