<spx-loading-spinner [loading]="launchLoading"></spx-loading-spinner>
<div class="launch-item-row grey-card-no-hover" *ngIf="launch">
  <div class="launch-item-header">
    <p class="icon-right">
      Launch Success:
      <spx-launch-success-indicator [success]="launch.launchStatus"></spx-launch-success-indicator>
    </p>
    <h2>{{ launch.rocketName }} launch on {{ launch.launchDate | date: 'mediumDate' }}</h2>
  </div>
  <div class="launch-item-body">
    <p>
      <fa name="calendar" class="icon"></fa>
      {{ launch.launchDate | date: 'fullDate' }}
    </p>
    <p>
      <fa name="rocket" class="icon"></fa>
      Rocket Name: {{ launch.rocketName }}</p>
    <p>
      <fa name="hashtag" class="icon"></fa>
      Flight Number: {{ launch.flightNumber }}
    </p>
    <p>
      <fa name="info-circle" class="icon"></fa>
      {{ launch.details }}
    </p>
  </div>
</div>
<spx-image-gallery
    *ngIf="launch
      && launch.images.length >= 1"
    [imageUrls]="launch.images"
></spx-image-gallery>
<spx-video-player
  *ngIf="launch && launch.videoId"
  [videoId]="launch.videoId"
></spx-video-player>
