<div class="launch-item-row grey-card-no-hover" *ngIf="launch">
  <div class="launch-item-header">
    <p class="icon-right">
      Launch Success:
      <svg height="20" width="20">
        <circle *ngIf="launch.launchStatus" cx="10" cy="10" r="8" stroke="black" stroke-width="1" fill="green" />
        <circle *ngIf="!launch.launchStatus" cx="10" cy="10" r="8" stroke="black" stroke-width="1" fill="red" />
      </svg>
    </p>
    <h2>{{ launch.rocketName }} launch on {{ launchDate }}</h2>
  </div>
  <div class="launch-item-body">
    <p>
      <fa name="calendar" class="icon"></fa>
      {{ launchDate }}
    </p>
    <p>
      <fa name="rocket" class="icon"></fa>
      Rocket Name: {{ launch.rocketName }}</p>
    <p>
      <fa name="hashtag" class="icon"></fa>
      Flight Number: {{ launch.flightNumber }}
    </p>
    <p>
      <fa name="info" class="icon"></fa>
      Details: {{ launch.details }}
    </p>
  </div>
</div>
